/*
* MAIN STYLE for laravel tasks manager
* version 1.7
*/
/*body {}*/
header {
	background: url("../images/h9.jpg");
	background-attachment: fixed;
	border-bottom: 15px solid #a2c11c;
}


.head-box { 
	background: rgb(255 255 255 / 78%);
	border-radius: 20px;
	padding: 10px;
	color: #78a590;
}

.space {
	width: 100%;
	height: 20px;
}
.navi-background, .custom-theme {
	background: white!important;
}
.box-image-radius {
	overflow: hidden;
}

.box-image-radius img {
	border: 4px solid #78a590;
	border-radius: 20px;
}

.content {
	background: #cbf078;
}

.content-two {
	background: #ebffbd;
}

.begin { 
	background: white;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 1px 15px grey;
	background: url("../images/h4.jpg");
}

.fl-image-box {
	padding: 100px 0;
	background: hsl(0deg 0% 51% / 70%);
}

.maps {
	margin: 50px 0;
}


/*signin page*/
.h-st { margin-bottom: 50px; }
.wrapper {
	
}
.line_space {
	height: 360px;
}
.fxt {
	border: 1px solid black;
	border-radius: 15px;
}



footer {
	position: relative;
	border-top: 5px solid #ff7e67;
	background: #627280;
	background: radial-gradient(circle at 10% 20%, rgb(98, 114, 128) 0%, rgb(52, 63, 51) 90.1%);
	color: white;
	padding: 20px;
}
.line { height: 4px; margin: 5px 0; background: #a2c11c; width: 100px; border-radius: 10px; }
.box-fl img {
	margin-top: 20px;
	border: 4px solid #627280;
	border-radius: 20px!important;
	text-align: left;
	height: 100px;
	width: 100px;
	object-fit: cover;
}
.box-fl img:hover { border: 4px solid #fdc57b; cursor: pointer;}
.orange { color: white; }
.orange:hover { color: orange; }

/*
.box-tale {
	margin: 20px;
}
